In [2]:
import pandas as pd

In [7]:
df = pd.read_excel('sched_tbl.xlsx')

In [8]:
df

,CLASS CODE,CODE,SECTION,SUBJECTS,UNITS,FROM TIME,TO TIME,DAYS,ROOM,CLASS STATUS
0,2067.0,6UHCI,EMC-202,"USABILITY, HCI AND USER INTERACTION DESIGN",3.0,01:30p,04:30p,F,SJH-707,Open
1,2069.0,6DRAW2,EMC-202,PRINCIPLES OF 2D ANIMATION,3.0,01:00p,04:00p,M,SJH-704,Open
2,2068.0,6CWRITE,EMC-202,CREATIVE WRITING AND STORY BOARD DESIGN,3.0,05:50p,06:50p,MWF,SJH-504,Open
3,2064.0,4CONWORLD,EMC-202,THE CONTEMPORARY WORLD,3.0,06:55p,07:55p,MWF,SJH-503,Open
4,9211.0,7PE3,EMC-202,PE 3 - PHYSICAL ACTIVITIES TOWARDS HEALTH AND ...,2.0,09:10a,11:10a,T,IHM-GYM,Open
5,2066.0,6DSALGO,EMC-202,DATA STRUCTURES AND ALGORITHMS,3.0,01:30p,03:30p,T,SJH-610,Open
6,NaN,NaN,NaN,NaN,NaN,01:30p,04:30p,TH,MGN-303,NaN
7,2070.0,9PHYSICS-A,EMC-202,PHYSICS FOR ANIMATION,3.0,06:05p,07:35p,TTH,SJH-503,Open
8,2065.0,6APPDEV,EMC-202,APPLICATIONS DEVELOPMENT AND EMERGING TECHNOLO...,3.0,12:45p,03:45p,W,SJH-706,Open

In [27]:
x = []
for i in df.iterrows():
    x.append(i)
    
print(x[0][1])

CLASS CODE                                            2067
CODE                                                 6UHCI
SECTION                                            EMC-202
SUBJECTS        USABILITY, HCI AND USER INTERACTION DESIGN
UNITS                                                    3
FROM TIME                                           01:30p
TO TIME                                             04:30p
DAYS                                                     F
ROOM                                               SJH-707
CLASS STATUS                                         Open
Name: 0, dtype: object

In [32]:
print(x[0][1][0])

2067.0

In [43]:
df['TO TIME'].to_list()

['04:30p',
 '04:00p',
 '06:50p',
 '07:55p',
 '11:10a',
 '03:30p',
 '04:30p',
 '07:35p',
 '03:45p']

In [48]:
df.get(['CODE', 'DAYS'])

         CODE DAYS
0       6UHCI    F
1      6DRAW2    M
2     6CWRITE  MWF
3   4CONWORLD  MWF
4        7PE3    T
5     6DSALGO    T
6         NaN   TH
7  9PHYSICS-A  TTH
8     6APPDEV    W

In [51]:
df['CODE']

0         6UHCI
1        6DRAW2
2       6CWRITE
3     4CONWORLD
4          7PE3
5       6DSALGO
6           NaN
7    9PHYSICS-A
8       6APPDEV
Name: CODE, dtype: object