In [2]:
import pandas as pd

In [25]:
df = pd.read_excel('sched_tbl.xlsx', index_col = 'CODE')

In [26]:
df

,CLASS CODE,SECTION,SUBJECTS,UNITS,FROM TIME,TO TIME,DAYS,ROOM,CLASS STATUS
CODE,,,,,,,,,
6UHCI,2067,EMC-202,"USABILITY, HCI AND USER INTERACTION DESIGN",3,01:30p,04:30p,F,SJH-707,Open
6DRAW2,2069,EMC-202,PRINCIPLES OF 2D ANIMATION,3,01:00p,04:00p,M,SJH-704,Open
6CWRITE,2068,EMC-202,CREATIVE WRITING AND STORY BOARD DESIGN,3,05:50p,06:50p,MWF,SJH-504,Open
4CONWORLD,2064,EMC-202,THE CONTEMPORARY WORLD,3,06:55p,07:55p,MWF,SJH-503,Open
7PE3,9211,EMC-202,PE 3 - PHYSICAL ACTIVITIES TOWARDS HEALTH AND ...,2,09:10a,11:10a,T,IHM-GYM,Open
6DSALGO,2066,EMC-202,DATA STRUCTURES AND ALGORITHMS,3,01:30p,03:30p,T,SJH-610,Open
6DSALGO,2066,EMC-202,DATA STRUCTURES AND ALGORITHMS,3,01:30p,04:30p,TH,MGN-303,NaN
9PHYSICS-A,2070,EMC-202,PHYSICS FOR ANIMATION,3,06:05p,07:35p,TTH,SJH-503,Open
6APPDEV,2065,EMC-202,APPLICATIONS DEVELOPMENT AND EMERGING TECHNOLO...,3,12:45p,03:45p,W,SJH-706,Open

In [27]:
x = []
for i in df.iterrows():
    x.append(i)
    
print(x[0][1])

CLASS CODE                                            2067
SECTION                                            EMC-202
SUBJECTS        USABILITY, HCI AND USER INTERACTION DESIGN
UNITS                                                    3
FROM TIME                                           01:30p
TO TIME                                             04:30p
DAYS                                                     F
ROOM                                               SJH-707
CLASS STATUS                                         Open
Name: 6UHCI, dtype: object

In [39]:
df[['FROM TIME', 'TO TIME', 'DAYS']]

           FROM TIME TO TIME DAYS
CODE
6UHCI         01:30p  04:30p    F
6DRAW2        01:00p  04:00p    M
6CWRITE       05:50p  06:50p  MWF
4CONWORLD     06:55p  07:55p  MWF
7PE3          09:10a  11:10a    T
6DSALGO       01:30p  03:30p    T
6DSALGO       01:30p  04:30p   TH
9PHYSICS-A    06:05p  07:35p  TTH
6APPDEV       12:45p  03:45p    W

In [6]:
for i, sub in enumerate(df.index):
    if isinstance(df.loc[sub]['DAYS'], pd.core.series.Series): 
        for sub_series in df.loc[sub]['DAYS']:
            print(sub_series, i)
    else:
        print(df.loc[sub]['DAYS'], i)

F 0
M 1
MWF 2
MWF 3
T 4
T 5
TH 5
T 6
TH 6
TTH 7
W 8

In [7]:
s = ''
s = s.join(df['DAYS'])
s

'FMMWFMWFTTTHTTHW'

In [13]:
df2 = pd.read_excel("E:/Downloads/sched_tbl.xlsx")
df2.keys()

'CODE'

In [24]:
import re
#characters that are not allowed: /\:*?"><|
word = '4423<3234'
re.search(r'[\\/:\:\?><\|\*]', word)

0
1
2
3